@import "variables";

.full-screen-container {
  @include flex-box;
  @include flex-direction(column);
  width: 100%;
}
.full-screen-background {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 100vh;

  @include flex-box;
  @include flex-direction(column);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);

  &.lander {
    background: linear-gradient(
                    rgba($primary, 0.5),
                    rgba($secondary, 0.5)
    ),
    url(https://cdn.andrewbilenduke.com/health_services/backgrounds/images/montreal.jpg),
    no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    .video-background {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    @include deviceLarge {
      .video-background {
        display: block;
        visibility: visible;
        opacity: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
      }
    }
  }


  &.introduction {
    background: linear-gradient(
                    rgba(253, 241, 235, 0.2),
                    rgba(253, 241, 235, 0.2)
    ),
    no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  &.biography {
    background: linear-gradient(
                    rgba($primary, 0.5),
                    rgba($secondary, 0.5)
    ),
    no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  &.location {
    background: linear-gradient(
                    rgba($primary, 0.5),
                    rgba($secondary, 0.5)
    ),
    url(https://cdn.andrewbilenduke.com/health_services/backgrounds/images/montreal.jpg),
    no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  > .container {
    width: 100%;
    max-width: 800px;
    @include flex-box;
    @include flex-direction(column);
    padding: 15px;
    box-sizing:border-box;
    z-index: 1;

    .profile {
      @include flex-box;
    }

    img {
      max-width: 100%;
    }

    .text-box {
      width: 100%;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.6);
      > h1, h2, h3 {
        margin-bottom: 10px;
      }
    }
  }
}
