@import "variables";

html {
  font-family: $fontFamily;
  font-size: 62.5%;
  word-spacing: 2px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

input {
  font-family: $fontFamily;
  font-size: 16px;
}

body {
  background-color: $bodyBackground;
  color: $fontColour;
  width: 100%;
  max-width: 100%;
  min-width: 315px;
  overflow-x: hidden;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  @include font-size(1.4);
}

h1, h2, h3, h4, h5, h6, .header-font {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  @include font-size(2.2)
}

h2 {
  @include font-size(2.1)
}

h3 {
  @include font-size(2.0)
}

h4 {
  @include font-size(1.9)
}

h5 {
  @include font-size(1.8)
}

h6 {
  @include font-size(1.7)
}

p {
  font-weight: 500;
  margin-bottom: 10px;
}

a {
  font-weight: 600;
  color: $highlight;
  &:visited {
    color: $highlight;
  }
}

.body-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  min-height: 100vh;
  text-align: center;

  .body-content {
    width: 100%;
    max-width: 100%;
    @include flex-box;
    @include flex-direction(column);
    @include align-items(center);
    @include align-content(center);
  }
}

.home-logo-container {
  img {
    height: 250px;
  }
}

div.page-header {
  div.page-title {
    font-weight: 900;
    @include font-size(2.2);
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 25px 10px 5px 10px;
    color: $highlight;
  }

  div.page-subtitle {
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0 10px 5px 10px;
    font-style: italic;
  }
}

footer {
  width: 100%;
  @include flex-box;
  @include flex-direction(column);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);

  padding: 10px;
  @include font-size(1.4);
  background-color: $primary;

  @include deviceLarge {
    padding: 50px;
  }

  > .footer-items {
    width: 900px;
    max-width: 100%;

    @include justify-content(space-evenly);
    @include flex-direction(column);
    @include align-items(center);

    a {
      text-decoration: none;
      color: $white;
    }

    @include deviceSmall {
      @include flex-box;
      @include flex-direction(row);
    }

    > .logo-container {
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);
      background-color: $secondary;
      padding: 12.5px;

      img {
        height: 100px;
      }
    }

    .list-box {
      @include flex-box;
      @include flex-wrap(wrap);
      @include justify-content(space-evenly);

      text-align: center;

      @include deviceMedium {
        min-width: 400px;
        @include justify-content(space-between);
      }

      > div {
        padding: 0 5px;
      }
      ul {
        list-style: none;
        padding: 0;
      }
    }
  }

  > .copyright {
    text-align: center;
    font-style: italic;
    font-weight: 700;

    > address {
      font-weight: 500;
    }
  }
}

.page {
  @include flex-box;
  @include justify-content(center);

  min-height: 100vh;
  width: 100%;
  padding: 10px;

  &.centered {
    @include justify-content(center);
    @include align-content(center);
    @include align-items(center);
  }

  > .page-content {
    @include flex-box;
    color: $black;
    background-color: $white;

    &.authentication {
      @include border-radius(5px);
      width: 100%;
      max-width: 600px;
      height: fit-content;
      padding: 10px 25px;
      border: 1px solid $primary;

      h1 {
        padding: 10px 0;
      }
    }
  }
}
