@import "variables";

button {
  @include border-radius(3px);
  @include font-size(1.8);
  cursor: pointer;
  @include flex-box;
  @include align-items(center);
  padding: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:disabled {
    color: grey !important;
    border-color: lightgrey !important;
    background-color: lightgrey !important;
    cursor: not-allowed !important;
    :hover {
      color: $white !important;
      background-color: lightgrey !important;
    }
  }

  > span.button-text-centered {
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
  }

  &.call-to-action {
    padding: 20px 25px;
    &.call-to-action-black {
      color: #000000;
      border: 2px solid #000000;
      &:hover {
        background-color: $primary;
      }
    }
    &.call-to-action-blue {
      color: $callToAction;
      background-color: transparent;
      border: 2px solid $callToAction;
      &:hover {

      }
    }
  }
  &.close-short {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    &:before {
      content: "";
      background-color: $fontColour;
      -webkit-mask-image: url("../img/svg/close-box.svg");
      mask-image: url("../img/svg/close-box.svg");
      display: block;
      width: 24px;
      height: 24px;
      float: left;
      margin: 0;
    }
    &:hover {
      &:before {
        background-color: $highlight;
      }
    }
  }
}

.go-down {
  @include flex-box;
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  margin: 0 auto;
  background-color: transparent;
  border: none;

  &:before {
    @include pseudo(block, relative, '');
    @include web-mask("../img/svg/chevron-double-down.svg");
    background-color: $highlight;
    width: 50px;
    height: 50px;
    @include animation_bounce;
  }

  @include deviceLarge {
    padding: 25px;
    margin: 0 auto 50px auto;
  }
}
