@import "variables";

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  @include flex-box;
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  > .modal-content {
    @include flex-box;
    @include flex-direction(column);
    @include align-items(center);
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $bodyBackground;
    padding: 10px 25px;
    z-index: 2000;

    .modal-header {
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(space-between);
      width: 100%;

      button {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.card-deck {
  @include flex-box;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  width: 100%;

  > .card {
    @include flex-box;
    @include flex-direction(column);
    @include border-radius(5px);
    z-index: 0;
    margin: 10px;
    background-color: $primary;

    width: 100%;
    max-width: 350px;


    > .card-header {
      position: relative;
      @include flex-box;
      @include align-items(center);
      @include justify-content(flex-end);
      @include flex-direction(column);

      > img {
        @include border-radius-top(5px);
        width: 100%;
        height: 200px;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    > .card-body {
      padding: 10px;
      @include flex-grow(1);

      > .card-title {
        padding: 5px;
        width: 100%;

        > .title {
          font-weight: 900;
          @include font-size(1.9);
          color: $fontColour;
        }

        > .subtitle {
          @include font-size(1.6);
          font-style: italic;
          color: $highlight;
          font-weight: 700;
        }
      }

      > .card-body {
        padding: 5px;
        width: 100%;
        font-weight: 700;
      }
    }

    > .card-footer {
      @include flex-box;
      @include flex-direction(row);
      @include align-items(center);
      @include align-content(center);
      @include justify-content(space-between);
      padding: 15px;
      margin: 0;

      > button {
        padding: 5px;
        background-color: transparent;
        border: none;

        &.see-more {
          color: $callToAction;
        }

        &.buy-now {
          font-weight: 900;
        }
      }
    }
  }

}

.flash-container {
  position: fixed;
  @include flex-box;
  @include flex-direction(column);
  @include align-items(flex-end);
  bottom: 0;
  right: 0;
  padding: 5px;

  .flash-message {
    @include flex-box;
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    padding: 15px 5px;
    margin-top: 5px;
    font-weight: 700;
    @include font-size(1.55);
    color: $white;
    width: 100%;
    max-width: 450px;
    text-align: center;
    min-width: 315px;

    &:first-child {
      margin-top: 0;
    }

    &.success {
      background-color: $success;

      .flash-child-icon {
        > i:before {
          @include web-mask('../img/svg/check-circle.svg');
        }
      }
    }

    &.warning {
      background-color: $warning;

      .flash-child-icon {
        > i:before {
          @include web-mask('../img/svg/alert.svg');
        }
      }
    }

    &.danger {
      background-color: $danger;

      .flash-child-icon {
        > i:before {
          @include web-mask('../img/svg/close-octagon.svg');
        }
      }
    }

    .flash-child-icon {
      width: 50px;
      height: 100%;
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);

      > i {
        position: relative;

        &:before {
          @include pseudo(block, absolute, '');
          background-color: $white;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    .flash-child-message {
      @include flex(1);
    }

    .flash-child-close {
      width: 50px;
      height: 100%;
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);

      > button {
        position: relative;
        background-color: transparent;
        border: none;
        width: 25px;
        height: 25px;
        padding: 5px;

        > i {
          &:before {
            @include pseudo(block, absolute, '');
            @include web-mask('../img/svg/close.svg');
            width: 25px;
            height: 25px;
            background-color: $white;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }

          &:hover {
            &:before {
              background-color: $fontColour;
            }
          }
        }
      }
    }
  }
}

.request-sending-container {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  padding: 5px;

  > .request-sending {
    @include flex-box;
    @include flex-direction(row);
    @include align-items(center);
    @include align-content(center);
    padding: 0;
    color: $fontColour;
    text-align: center;
    height: fit-content;

    .sending-icon {
      height: 100%;
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);
      padding: 5px;

      i.loading {
        position: relative;
        width: 20px;
        height: 20px;
        @include animation_spin;

        &:before {
          @include pseudo(block, absolute, '');
          @include web-mask('../img/svg/loading.svg');
          width: 20px;
          height: 20px;
          background-color: $fontColour;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    .sending-message {
      @include font-size(1.0);
    }
  }
}

.google-map {
  width: 100%;
  max-width: 900px;
  height: auto;
  min-height: 350px;
  background: gray;
}

@media only screen and (max-width: 380px) {
  .modal-container {
    padding: 10px;

    > .modal-content {
      padding: 10px;
    }
  }
}
