@import "variables";

form {
  @include flex-box;
  @include flex-direction(column);
  @include align-items(flex-start);
  width: 100%;

  > .form-header {
    @include flex-box;
    @include align-items(center);
    @include align-content(center);
    @include justify-content(flex-start);
    width: 100%;

    > h1, h2, h3 {
      flex: 1;
      margin: 5px 0 15px 0;
    }
  }

  > .social-auth-bar {
    width: 100%;
    @include flex-box;
    @include flex-direction(column);
    @include justify-content(space-evenly);

    button {
      width: 100%;
      margin-bottom: 5px;
    }

    @include deviceSmall {
      @include flex-direction(row);
      button {
        width: 30%;
        margin-bottom: 0;
      }
    }
  }

  > .form-section {
    @include flex-box;
    @include flex-direction(column);
    width: 100%;
    padding: 5px 0;

    > * {
      width: 100%;

      &:focus {
        outline: 1px dotted $highlight;
      }
    }

    .error-message {
      color: $danger;
      min-height: 21px;
      display: block;
      padding-right: 5px;
      margin: 0 0 0 5px;
      text-align: left;
      @include font-size(1.4);
      font-style: italic;
      font-weight: 900;
    }

    &.errored {
      > label {
        color: $danger;
      }

      > input {
        border-bottom: 2px solid $danger;
      }
    }

    > .details {
      font-weight: 700;
      margin-top: 15px;
      @include font-size(1.2);
      text-align: center;
    }

    > input {
      padding: 10px;
      border: none;
      border-bottom: 2px solid $highlight;
      @include input-placeholder {
        font-weight: 700;
      }
    }

    button {
      width: 100%;
      margin-bottom: 5px;

      &.authenticate {
        margin: 15px 0;
        color: #ffffff;
        background-color: $highlight;
        border: 2px solid $highlight;

        &:hover {
          color: $highlight;
          background-color: #ffffff;
        }
      }
    }
  }
}
