@import "variables";

.mt-1 {
  margin-top: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.bg-white {
  background-color: $white;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-highlight {
  background-color: $highlight;
}
.bg-callToAction {
  background-color: $callToAction;
}

.bold {
  font-weight: 900;
}

.text-centered {
  text-align: center;
}

.relative-container {
  position: relative;
}

.text-shadow {
  text-shadow: $black 2px 2px;
}
