i {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  @include flex-box;
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
  position: relative;

  &:before {
    @include pseudo();
    width: 25px;
    height: 25px;
  }
}

i.menu {
  &:before {
    @include web-mask("../img/svg/close.svg");
    background-color: $fontColour;
  }
  &:hover {
    &:before {
      background-color: $highlight;
    }
  }
}

i.close {
  &:before {
    @include web-mask("../img/svg/close.svg");
    background-color: $fontColour;
  }
  &:hover {
    &:before {
      background-color: $highlight;
    }
  }
}

i.heart {
  &:before {
    @include web-mask("../img/svg/heart.svg");
    background-color: $fontColour;
  }
  &:hover {
    &:before {
      background-color: $red;
    }
  }

  &.favorited {
    &:before {
      background-color: $red;
    }
    &:hover {
      &:before {
        background-color: $fontColour;
      }
    }
  }
}
