@import "variables";

.main-nav {
  width: 100%;
  @include flex-box;
  @include flex-direction(column);
  @include align-content(center);
  @include align-items(center);
  background-color: $primary;
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;

  &.scrolled {
    li {
      padding: 15px;
      font-size: 12px;
      &.logo {
        padding: 5px;
        > img {
          height: 50px;
        }
      }
    }
  }

  .unconfirmed-user {
    width: 100%;
    min-height: 75px;
    @include flex-box;
    @include justify-content(center);
    @include align-content(center);
    @include align-items(center);
    background-color: $warning;
    @include font-size(1.5);
    font-weight: 900;
  }

  button.menu-item {
    padding: 15px;
    background-color: transparent;
    border: none;
  }

  ul {
    width: 100%;
    @include flex-box;
    @include flex-direction(row);
    @include align-items(center);
    @include align-content(center);
    list-style: none;
    padding: 0;

    @include deviceMedium {
      @include justify-content(space-between);
      @include justify-content(space-between);
    }
    @include deviceLarge {
      > ul {
        padding: 0 45px;
      }
    }
  }
}

li {
  @include flex-box;
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);
}

ul.navigation {
  li {
    padding: 25px;
    margin: 0 10px;
    min-height: 75px;
    font-weight: 700;
    @include font-size(1.6);
    text-transform: uppercase;
    letter-spacing: 1px;

    @include transition(padding .2s ease-in 0s);
    @include transition(font-size .2s ease-in 0s);

    &:first-child, &:last-child {
      margin: 0;
    }

    &.mobile-only {
      @include flex-box;
    }

    > .nav-user-container {
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);

      > .nav-user-name {
        display: none;
        opacity: 0;
        visibility: hidden;
      }

      > .nav-user-avatar {
        width: 35px;
        height: 35px;
      }
    }

    &.regular-nav-links {
      display: none;
    }

    @include flex-box;
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    color: $fontColour;

    > a {
      text-decoration: none;
    }

    &.nav-item-end {
      margin-left: auto;
    }

    &:hover, &:focus-within {
      color: $highlight;
      cursor: pointer;
    }

    &.nuxt-link-exact-active {
      color: $highlight;
    }

    &.logo {
      @include flex-box;
      @include justify-content(center);
      @include align-content(center);
      @include align-items(center);
      padding: 12.5px;
      background-color: $secondary;

      > img {
        @include transition(all .2s ease-in 0s);
        width: auto;
        height: 100px;
      }
    }

    &.call-to-action {
      padding: 15px 20px;
      font-weight: 700;
      color: $highlight;
      border: 2px solid $highlight;

      &:hover, &:focus-within {
        background-color: $secondary;
      }
    }

    @include deviceLarge {

      &.mobile-only {
        display: none;
      }

      &.regular-nav-links {
        @include flex-box;
      }

      > .nav-user-container {
        > .nav-user-name {
          display: block;
          opacity: 1;
          visibility: visible;
          margin-right: 5px;
        }
      }
    }

  }
}

.dropdown-container {
  position: relative;
  z-index: 9999;

  &:hover {
    .dropdown {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    &.regular-nav-links:after {
      background-color: $highlight;
    }
  }

  &.regular-nav-links:after {
    @include pseudo(block, absolute, '');
    @include web-mask("../img/svg/menu-down.svg");
    background-color: $fontColour;
    top: calc(50% - 10px);
    right: 0;
    width: 20px;
    height: 15px;
    margin: auto;
  }

  &.mobile-only {
    .dropdown {
      right: 0;
      margin-right: 1px;
    }
  }

  > .dropdown {
    visibility: hidden;
    opacity: 0;
    display: none;
    padding: 0;
    min-width: 125px;
    background-color: $secondary;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    transition: height .2s;
    margin-top: 71px;
    text-align: center;

    > li {
      height: fit-content;
      border-bottom: 1px solid $highlight;

      &:last-child {
        border-bottom: none;
      }

      &:hover, &:focus-within {
        background-color: $primary;
        color: $highlight;
      }
    }
  }
}
