@import "variables";

.profile-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  @include flex-box;
  @include flex-direction(column-reverse);
  @include align-items(center);

  .profile-nav {
    width: 100%;
    background-color: $secondary;

    .profile-nav-list {
      @include flex-box;
      @include flex-direction(column);
      @include align-items(center);
      font-weight: 700;
      @include font-size(1.6);
      text-transform: uppercase;
      list-style: none;
      padding: 0;
      > li {
        padding: 25px 75px;
        cursor: pointer;
        &:hover {
          color: $highlight;
        }
      }
    }
  }

  .profile-information {
    width: 100%;
    height: 100%;
    padding: 25px;
  }

  @include deviceMedium {
    @include flex-direction(row);

    .profile-nav {
      width: fit-content;
      height: 100%;
    }
  }
}

.profile-page-header {
  @include flex-box;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);

  margin-bottom: 25px;

  .edit-button {
    background-color: transparent;
    border: none;
    color: $callToAction;

    &:hover {
      color: darken($highlight, 15%);
      i {
        &:before {
          background-color: darken($highlight, 15%);
        }
      }
    }

    i {
      position: relative;
      width: 25px;
      height: 25px;
      margin-right: 5px;

      &:before {
        @include pseudo(block, absolute, '');
        @include web-mask('../img/svg/account-edit.svg');
        background-color: $callToAction;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.information-container {
  @include flex-box;
  @include flex-direction(column);
  @include align-items(center);
  @include flex-wrap(wrap);

  text-align: center;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  min-height: 100vh;

  .information-group {
    padding: 25px;
    min-width: 50%;
    @include font-size(1.6);
    .information-header {
      margin-bottom: 10px;
    }
    .information-content {
      @include flex-box;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-content(center);
      @include align-items(center);

      letter-spacing: 2px;

      h5 {
        margin-top: 15px;
        font-size: 16px;
        color: $highlight;
      }

      button {
        position: relative;
        font-size: 14px;
        padding: 10px 50px;
        &:before {
          @include pseudo();
          width: 20px;
          height: 20px;
          left: 0;
          margin-left: 5px;
        }
      }

      button.add {
        &:before {
          @include web-mask("../img/svg/plus-circle.svg");
          background-color: $primary;
        }
      }

      button.clear {
        &:before {
          @include web-mask("../img/svg/close-circle.svg");
          background-color: $highlight;
        }
      }

      * {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      &.not-found {
        font-style: italic;
        color: rgba($white, 0.6);
        font-size: 14px;
      }
    }
    input {
      text-align: center;
    }
  }

  @include deviceLarge {
    min-height: inherit;
    @include align-items(start);
    @include flex-direction(row);
  }
}

.no-products {
  padding: 25px;
  @include flex-box;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);
  > h1 {
    color: $highlight;
  }
  > button {
    margin: 15px;
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
}
