@import "variables";

// SOCIAL COLOURS
$colorFacebook: #4267B2;
$colorGoogle: #DB4437;
$colorInstagram: #E4405F;
$colorTwitter: #1DA1F2;
$colorPinterest: #BD081C;

$svgGoogle: '../img/svg/google.svg';
$svgFacebook: '../img/svg/facebook.svg';
$svgTwitter: '../img/svg/twitter.svg';
$svgInstagram: '../img/svg/instagram.svg';
$svgPinterest: '../img/svg/pinterest.svg';

.social-bar {
  @include flex-box;
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
  @include flex-wrap(wrap);

  > a {
    @include flex-box;
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    margin: 0 5px;
    padding: 10px;
  }
}

i.social {
  height: 25px;
  width: 25px;
  mask-repeat: no-repeat;
  background-color: $white;

  &.facebook {
    @include web-mask($svgFacebook);

    &:hover {
      background-color: $colorFacebook;
    }
  }

  &.google {
    @include web-mask($svgGoogle);

    &:hover {
      background-color: $colorGoogle;
    }
  }

  &.instagram {
    @include web-mask($svgInstagram);

    &:hover {
      background-color: $colorInstagram;
    }
  }

  &.twitter {
    @include web-mask($svgTwitter);

    &:hover {
      background-color: $colorTwitter;
    }
  }

  &.pinterest {
    @include web-mask($svgPinterest);

    &:hover {
      background-color: $colorPinterest;
    }
  }
}

button.social {
  border: 2px solid;

  &:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
  }

  span {
    @include font-size(1.6)
  }

  &.facebook {
    color: #ffffff;
    background-color: $colorFacebook;
    border-color: $colorFacebook;

    &:before {
      background-color: #ffffff;
      @include web-mask($svgFacebook);
    }

    &:hover {
      &:before {
        background-color: $colorFacebook;
      }
      color: $colorFacebook;
      background-color: #ffffff;
    }
  }

  &.google {
    color: #ffffff;
    background-color: $colorGoogle;
    border-color: $colorGoogle;

    &:before {
      background-color: #ffffff;
      @include web-mask($svgGoogle);
    }

    &:hover {
      &:before {
        background-color: $colorGoogle;
      }
      color: $colorGoogle;
      background-color: #ffffff;
    }
  }

  &.twitter {
    color: #ffffff;
    background-color: $colorTwitter;
    border-color: $colorTwitter;

    &:before {
      background-color: #ffffff;
      @include web-mask($svgTwitter);
    }

    &:hover {
      &:before {
        background-color: $colorTwitter;
      }
      color: $colorTwitter;
      background-color: #ffffff;
    }
  }
}
