@import "flex";
@import "mixins";
@import "animations";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// THEME COLOURS!
$primary: #011f4b ;
$secondary: #005b96 ;
$highlight: #fe3d33;
$callToAction: #b3cde0;

$red: #f52027;
$white: #f2f3f4;
$black: #111111;

$success: #32a852;
$warning: #ed8c1c;
$info: #f6cd61 ;
$danger: $red;

// APPLICATION STYLES
$bodyBackground: $black;
$fontColour: $white;
$fontFamily: 'Poppins', sans-serif;
