<template>
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <h1>
                    Add a new address
                </h1>
                <button @click="closeModal"><i class="close"></i></button>
            </div>
            <form>
                <label for="newAddressLine1">Address Line 1</label>
                <input id="newAddressLine1" v-model="newAddressLine1" placeholder="Address line 1"/>

                <label for="newAddressLine2">Address Line 2</label>
                <input id="newAddressLine2" v-model="newAddressLine2" placeholder="Address Line 2 (optional)"/>

                <label for="newAddressCity">City</label>
                <input id="newAddressCity" v-model="newAddressCity" placeholder="Enter a city"/>

                <label for="newAddressProvince">Province</label>
                <input id="newAddressProvince" v-model="newAddress" placeholder="Enter a Province"/>

                <label for="newAddressCountry">Country</label>
                <input id="newAddressCountry" v-model="newAddress" placeholder="Enter your country"/>

                <label for="newAddressPostalCode">Postal Code</label>
                <input id="newAddressPostalCode" v-model="newAddress" placeholder="Enter a new address"/>

                <button class="add" @click="addNewAddress">Add</button>
                <button class="clear" @click="clearNewAddress">Clear</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddressForm",
        methods: {
            closeModal() {
                this.$emit('closeAddressModal');
            }
        }
    }
</script>
