<template>
    <div v-if="flashMessages" class="flash-container">
        <div v-for="(message, index) in flashMessages"
             :key="'flashMessage-' + index"
             class="flash-message"
             :class="message.level">
            <div class="flash-child-icon">
                <i></i>
            </div>
            <div class="flash-child-message">
                {{ message.body }}
            </div>
            <div class="flash-child-close">
                <button @click="removeFlashMessage(message.index)">
                    <i></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    export default {
        name: "FlashMessages",
        computed: {
            ...mapState({
                flashMessages: 'flashMessages'
            })
        },
        methods: {
            ...mapActions({
                removeFlashMessage: 'removeFlashMessage'
            })
        }
    }
</script>