<template>
    <div v-if="apiKey" class="google-map" :id="mapName"></div>
</template>

<script>
    import GoogleMapsApiLoader from 'google-maps-api-loader';
    import keys from 'assets/keys.json';

    export default {
        name: "google-map",
        props: {name: String},
        data() {
            return {
                mapName: this.name + "-map",
                google: null,
                map: null,
                apiKey: null
            }
        },
        async mounted() {
            this.apiKey = keys.googleApiKey;
            if (this.apiKey) {
                this.google = await GoogleMapsApiLoader({
                    apiKey: this.apiKey
                });
                this.initializeMap()
            }

        },
        methods: {
            initializeMap() {
                const mapConfig = {
                    zoom: 14,
                    center: new this.google.maps.LatLng(45.521685, -73.559295)
                };

                const mapContainer = document.getElementById(this.mapName);
                const map = new this.google.maps.Map(
                    mapContainer, mapConfig
                );
                const position = new this.google.maps.LatLng(45.521685, -73.559295);
                const marker = new google.maps.Marker({
                    position,
                    map
                });
            }
        }
    }
</script>
