<template>
    <nav class="main-nav" :class="isScrolled" role="navigation" ref="navigationBar">
        <ul class="navigation">
            <nuxt-link to="/" tag="li" class="logo">
                <img src="https://cdn.andrewbilenduke.com/health_services/health_services.png">
            </nuxt-link>
            <nuxt-link to="/#biography" tag="li" class="regular-nav-links">
                Biography
            </nuxt-link>
            <nuxt-link to="/#location" tag="li" class="regular-nav-links">
                Location
            </nuxt-link>
            <nuxt-link to="/products" tag="li" class="regular-nav-links">
                Our Products
            </nuxt-link>
            <nuxt-link v-if="!isLoggedIn" to="/register" tag="li"
                       class="nav-item-end regular-nav-links bold text-centered">
                Register
            </nuxt-link>
            <nuxt-link v-if="!isLoggedIn" to="/login" tag="li" class="regular-nav-links bold text-centered">
                Login
            </nuxt-link>
            <li v-if="!isLoggedIn" class="nav-item-end mobile-only dropdown-container">
                <button class="menu-item">
                    <i class="menu"></i>
                </button>
                <ul class="dropdown">
                    <nuxt-link to="/#biography" tag="li" class="regular-nav-links">
                        Biography
                    </nuxt-link>
                    <nuxt-link to="/#location" tag="li" class="regular-nav-links">
                        Location
                    </nuxt-link>
                    <nuxt-link to="/products" tag="li" class="regular-nav-links">
                        Our Products
                    </nuxt-link>
                </ul>
            </li>
            <nuxt-link to="/profile" tag="li"
                       v-if="isLoggedIn"
                       class="nav-item-end dropdown-container">
                My Account
            </nuxt-link>
        </ul>
        <unconfirmed-user/>
    </nav>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex'
    import UnconfirmedUser from '~/components/UnconfirmedUser.vue'

    export default {
        name: "NavBar",
        components: {UnconfirmedUser},
        data() {
            return {
                documentReady: false,
                isScrolled: ''
            }
        },

        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        },
        mounted() {
            window.addEventListener('scroll', this.handleScroll);
            this.documentReady = true;
            this.setNavHeight(this.$refs.navigationBar.clientHeight);
        },
        computed: {
            ...mapGetters({
                isLoggedIn: 'isLoggedIn'
            })
        },
        methods: {
            ...mapMutations({
                setNavHeight: 'setNavHeight'
            }),
            handleScroll() {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    this.isScrolled = 'scrolled';
                } else {
                    this.isScrolled = '';
                }
            }
        }
    }
</script>
