<template>
    <div v-if="product" class="card">
        <div class="card-header">
            <img :src="'https://cdn.andrewbilenduke.com/health_services/' + product.image">
        </div>
        <div class="card-body">
            <div class="card-title">
                <div class="title">
                    {{ product.name }}
                </div>
                <div class="subtitle">
                    {{ product.product_type.name }}
                </div>
            </div>
            <div class="card-body">
                {{ product.description }}
            </div>
        </div>
        <div class="card-footer">
            <button @click="toggleFavorite(product.id, product.is_favorited)">
                <i class="heart" :class="product.is_favorited ? 'favorited' : ''"></i>
            </button>
            <div>
                {{ formatPrice(product.current_price.price) }}
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "ProductCard",
        props: {product:Object},
        computed: {
            ...mapGetters({
                isLoggedIn: 'isLoggedIn'
            })
        },
        methods: {
            ...mapActions({
                favoriteProduct: 'favoriteProduct',
                unfavoriteProduct: 'unfavoriteProduct',
                addFlashMessage: 'addFlashMessage'
            }),
            formatPrice(value) {
                let val = (value/100).toFixed(2);
                return '$ ' + val.toString();
            },
            toggleFavorite(productId, isFavorited) {

                if (!this.isLoggedIn) {
                    this.addFlashMessage({
                        level: 'warning',
                        body: 'You have to be signed in to favorite or unfavorite products. Login or register and try again.'
                    });
                    return;
                }

                if (isFavorited) {
                    this.unfavoriteProduct(productId);
                } else {
                    this.favoriteProduct(productId);
                }

                this.$emit('favorite', productId);
            }
        }
    }
</script>
