<template>
    <div v-if="isSubmitting" class="request-sending-container">
        <div class="request-sending">
            <div class="sending-icon">
                <i class="loading"></i>
            </div>
            <div class="sending-message">
                Request Sending...
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    export default {
        name: "RequestSending",
        computed: {
            ...mapGetters({
                isSubmitting: 'isSubmitting'
            })
        }
    }
</script>