<template>
    <footer>
        <div class="footer-items">
            <div class="logo-container">
                <nuxt-link to="/" tag="a" class="logo">
                    <img src="https://cdn.andrewbilenduke.com/health_services/health_services.png">
                </nuxt-link>
            </div>
            <div class="list-box">
                <div>
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <nuxt-link tag="a" to="/#location">
                                Location
                            </nuxt-link>
                        </li>
                        <li>
                            <a href="javascript:void(0)" @click="toggleTerms">
                                Terms of Service
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" @click="togglePrivacy">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Careers
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Site Map</h3>
                    <ul>
                        <li>
                            <nuxt-link to="/register" tag="a">
                                Register
                            </nuxt-link>
                        </li>
                        <li>
                            <nuxt-link to="/login" tag="a">
                                Login
                            </nuxt-link>
                        </li>
                        <li>
                            <nuxt-link to="/blog" tag="a">
                                Blog
                            </nuxt-link>
                        </li>
                        <li>
                            <nuxt-link to="/products" tag="a">
                                Products
                            </nuxt-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <social-bar></social-bar>
        <div class="copyright">
            Health Services &copy;2019
            <address>
                123 Fake Street, Montreal, Quebec, Canada, A1A 1A1
            </address>
        </div>
    </footer>
</template>

<script>
    import SocialBar from '~/components/SocialBar.vue';
    import {mapMutations} from 'vuex';

    export default {
        name: "Footer.vue",
        components: {SocialBar},
        methods: {
            ...mapMutations({
                toggleTerms: 'toggleTerms',
                togglePrivacy: 'togglePrivacy'
            })
        }
    }
</script>
