<template>
    <div class="social-bar">
        <a href="https://www.instagram.com" target="_blank">
            <i class="social instagram"></i>
        </a>
        <a href="https://www.google.com" target="_blank">
            <i class="social google"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <i class="social facebook"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank">
            <i class="social twitter"></i>
        </a>
        <a href="https://www.pinterest.ca" target="_blank">
            <i class="social pinterest"></i>
        </a>
    </div>
</template>

<script>
    export default {
        name: "SocialBar"
    }
</script>
