<template>
    <div v-if="isLoggedIn && hasUser && !userIsConfirmed" class="unconfirmed-user">
        <div>
            You have not confirmed your email address. Check your emails for a confirmation link.
            <a href="javascript:void(0)" @click="resendConfirmation">Click here</a> if you need a new one sent.
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "UnconfirmedUser",
        computed: {
            ...mapGetters({
                isLoggedIn: 'isLoggedIn',
                hasUser: 'hasUser',
                userIsConfirmed: 'userIsConfirmed'
            })
        },
        methods: {
            ...mapActions({
                resendConfirmation: 'resendConfirmation'
            })
        }
    }
</script>