<template>
    <div>
        <div class="page-header">
            <div class="page-title">
                Products
            </div>
            <div class="page-subtitle">
                Quality can never be compromised!
            </div>
        </div>
        <div class="card-deck">
            <product-card v-if="products" v-for="(product, index) in products" :key="'product-' + index" :product="product" @favorite="toggleFavorite" />
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import ProductCard from '~/components/ProductCard';

    export default {
        scrollToTop: true,
        name: "products",
        components: {ProductCard},
        data() {
            return {
                products: null
            }
        },
        computed: {
            typeId() {
                return this.$route.params.type;
            }
        },
        created() {
            this.getProducts(this.typeId)
                .then((products) => this.products = products)
                .catch(() => this.products = null);
        },
        methods: {
            ...mapActions({
                getProducts: 'getProducts',
                addToCart: 'addToCart'
            }),
            toggleFavorite(productId) {
                this.products = this.products.filter(product => {
                    if (product.id === productId) {
                        product.is_favorited = !product.is_favorited;
                    }
                    return product;
                });
            }
        }
    }
</script>
