<template>
    <div>
        <div class="page-header">
            <div class="page-title">
                Products & Services
            </div>
            <div class="page-subtitle">
                Quality can never be compromised!
            </div>
        </div>
        <div class="card-deck">
            <div v-if="productTypes" v-for="(productType, index) in productTypes" :key="'productType-' + index" class="card">
                <div class="card-header">
                    <img :src="'https://cdn.andrewbilenduke.com/health_services/' + productType.image">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <div class="title">
                            {{ productType.name }}
                        </div>
                        <div class="subtitle">
                            {{  }}
                        </div>
                    </div>
                    <div class="card-body">
                        {{ productType.description }}
                    </div>
                </div>
                <div class="card-footer">
                    <nuxt-link tag="button" :to="'/products/' + productType.id" class="see-more">
                        See More
                    </nuxt-link>
                </div>
            </div>
            <div v-else class="card">
                <div class="card-header">
                    <img src="https://cdn.andrewbilenduke.com/health_services/please_wait.jpg">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <div class="title">
                            The Products Are Being Retrieved
                        </div>
                        <div class="subtitle">
                            Hold Tight
                        </div>
                    </div>
                    <div class="card-body">
                        We are fetching the latest, best deals possible.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    export default {
        scrollToTop: true,
        name: "index",
        data() {
            return {
                productTypes: null
            }
        },
        created() {
            this.getProductTypes()
                .then((productTypes) => this.productTypes = productTypes)
                .catch(() => this.productTypes = null);
        },
        methods: {
            ...mapActions({
                getProductTypes: 'getProductTypes'
            })
        }
    }
</script>
