<template>
    <div>
        <div class="page-header">
            <div class="page-title">
                Products
            </div>
            <div class="page-subtitle">
                Quality can never be compromised!
            </div>
        </div>
        <div class="card-deck" v-if="products">
            <product-card v-for="(product, index) in products" :key="'product-' + index" :product="product" @favorite="toggleFavorite"/>
        </div>
        <div class="no-products" v-else>
            <h1>You do not have any favorites yet.</h1>
            <nuxt-link tag="button" to="/products">
                Go To Products
            </nuxt-link>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import ProductCard from '~/components/ProductCard';

    export default {
        scrollToTop: true,
        name: "favorites",
        components: {ProductCard},
        data() {
            return {
                products: null
            }
        },
        created() {
            this.getFavoritedProducts(this.typeId)
                .then((products) => this.products = products.length > 0 ? products : null)
                .catch(() => this.products = null);
        },
        methods: {
            ...mapActions({
                getFavoritedProducts: 'getFavoritedProducts'
            }),
            toggleFavorite(productId) {
                this.products = this.products.filter(product => {
                    if (product.id === productId) {
                        product.is_favorited = !product.is_favorited;
                    }
                    return product;
                });
            }
        }
    }
</script>
