<template>
    <div v-if="this.hasUser">
        <div class="profile-page-header header-font">
            <h1>
                My Information
            </h1>
            <button class="edit-button" @click="editing = !editing">
                <i></i>
                <span v-if="editing">Done</span>
                <span v-else>Edit</span>
            </button>
            <div v-if="editing && editInError">
                <p v-for="(error, index) in editErrors" :key="'errorMessage-' + index">
                    {{ error }}
                </p>
            </div>
        </div>
        <div class="information-container">
            <div class="information-group">
                <div class="information-header header-font">
                    Name
                </div>
                <div class="information-content">
                    <input v-if="editing"
                           v-model="userName"
                           placeholder="Enter your name"/>
                    <button v-if="editing"
                            class="add"
                            @click="editName">
                        Save
                    </button>
                    <span v-else>{{ this.user.name }}</span>
                </div>
            </div>

            <div class="information-group">
                <div class="information-header header-font">
                    Email Address
                </div>
                <div class="information-content">
                    <span>{{ this.user.email }}</span>
                </div>
            </div>

            <div class="information-group">
                <div class="information-header header-font">
                    Addresses
                </div>
                <div v-if="!userAddresses" class="information-content not-found">
                    No addresses found
                </div>
                <div v-else v-for="(address, index) in userAddresses" :key="'address-' + index"
                     class="information-content">
                    <input v-if="editing" v-model="userEmail" placeholder="Enter your address"/>
                    <span v-else>{{ address }}</span>
                </div>
                <div v-if="editing" class="information-content">
                    <button class="add" @click="isAddingAddress = !isAddingAddress">
                        Add New Address
                    </button>
                </div>
            </div>

            <div class="information-group">
                <div class="information-header header-font">
                    Phone Number
                </div>
                <div v-if="!userPhoneNumbers" class="information-content not-found">
                    No phone numbers found
                </div>
                <div v-else v-for="(phone, index) in userPhoneNumbers" :key="'phone-' + index"
                     class="information-content">
                    <input v-if="editing" v-model="userEmail" placeholder="Enter your phone number"/>
                    <span v-else>{{ phone }}</span>
                </div>
                <div v-if="editing" class="information-content">
                    <h5>Add a new phone number</h5>
                    <input v-model="newPhoneNumber" placeholder="Enter a new phone number"/>
                    <button class="add" @click="addNewPhoneNumber">Add</button>
                    <button class="clear" @click="clearNewPhoneNumber">Clear</button>
                </div>
            </div>

        </div>
        <address-form v-if="isAddingAddress" @closeAddressModal="isAddingAddress = !isAddingAddress"></address-form>
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';
    import AddressForm from '~/components/AddressForm';

    export default {
        scrollToTop: true,
        name: "index",
        components: {AddressForm},
        data() {
            return {
                editing: false,
                userName: null,
                userAddresses: null,
                userPhoneNumbers: null,
                editErrors: {
                    name: null,
                    address: null,
                    phone: null
                },
                newPhoneNumber: null,
                newAddress: null,
                isAddingAddress: false
            }
        },
        computed: {
            ...mapState({
                user: 'user'
            }),
            ...mapGetters({
                isLoggedIn: 'isLoggedIn',
                hasUser: 'hasUser'
            }),
            editInError() {
                console.log(this.editErrors.name ||
                    this.editErrors.address ||
                    this.editErrors.phone);
                return this.editErrors.name ||
                    this.editErrors.address ||
                    this.editErrors.phone;
            }
        },
        mounted() {
            this.userName = this.user.name;
            this.userEmail = this.user.email;
        },
        methods: {
            editName() {
                if (!this.userName) {
                    this.editErrors.name = 'A name is required';
                    return;
                }
                if (this.userName.length < 2) {
                    this.editErrors.name = 'This name is too short.';
                    return;
                }
                if (this.userName.length > 255) {
                    this.editErrors.name = 'This name is too long.';
                    return;
                }
                if (this.userName.length > 255) {
                    this.editErrors.name = 'This name is too long.';
                    return;
                }
                this.editErrors.name = null;
            },
            addNewAddress() {

            },
            addNewPhoneNumber() {

            },
            clearNewAddress() {

            },
            clearNewPhoneNumber() {

            },
        }
    }
</script>
