<template>
  <div>
    <nav-bar/>
    <div class="body-container">
      <div class="body-content" :style="pagePadding">
        <nuxt/>
      </div>
    </div>
    <site-footer/>
    <flash-messages/>
    <request-sending/>
    <terms-of-service/>
    <privacy-policy/>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapMutations} from 'vuex';
  import NavBar from '~/components/NavBar.vue';
  import SiteFooter from '~/components/SiteFooter.vue';
  import FlashMessages from '~/components/FlashMessages.vue';
  import RequestSending from '~/components/RequestSending.vue';
  import TermsOfService from '~/components/TermsOfService.vue';
  import PrivacyPolicy from '~/components/PrivacyPolicy.vue';

  export default {
    components: {
      NavBar,
      SiteFooter,
      FlashMessages,
      RequestSending,
      TermsOfService,
      PrivacyPolicy
    },
    computed: {
      ...mapGetters({
        isLoggedIn: 'isLoggedIn',
        hasUser: 'hasUser',
        userIsConfirmed: 'userIsConfirmed',
        isShowingTerms: 'isShowingTerms',
        isShowingPrivacy: 'isShowingPrivacy',
        navBarHeight: 'navBarHeight'
      }),
      routeName() {
        return this.$route.path;
      },
      pagePadding() {
        return this.routeName !== '/' ? 'padding-top:' + this.navBarHeight + 'px' : null
      }
    },
    mounted() {
      const confirmationToken = this.$route.query.confirmation_token;

      if (!this.isLoggedIn && confirmationToken) {
        this.addFlashMessage({
          level: 'warning',
          body: 'You need to sign into your account to verify your email address.'
        });
        this.$router.push('/login?confirmation_token=' + this.$route.query.confirmation_token)
      }
      if (this.isLoggedIn && !this.hasUser) {
        this.getUser()
                .then(() => {
                  if(!this.userIsConfirmed && confirmationToken) {
                    this.confirmUser(confirmationToken);
                  }
                });
      }
      if (this.isLoggedIn && this.hasUser && !this.userIsConfirmed && confirmationToken) {
        this.confirmUser(confirmationToken);
      }
    },
    methods: {
      ...mapActions({
        getUser: 'getUser',
        confirmUser: 'confirmUser',
        addFlashMessage: 'addFlashMessage'
      })
    }
  }
</script>
