<template>
    <div class="full-screen-container">

        <div class="full-screen-background relative-container lander">
            <video autoplay muted loop class="video-background">
                <source src="https://cdn.andrewbilenduke.com/health_services/backgrounds/videos/montreal.mp4"
                        type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="container">
                <div class="home-logo-container">
                    <img src="https://cdn.andrewbilenduke.com/health_services/health_services.png"
                         alt="Health Services logo">
                </div>
                <h1 class="text-shadow">
                    Montréal's Best Health Services
                </h1>
                <p class="text-shadow">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <a class="go-down" href="#biography"></a>
            </div>
        </div>

        <div class="full-screen-background biography" id="biography">
            <div class="container">
                <div class="profile">
                    <div class="corine-fortin"></div>
                    <div class="description">
                        <div class="text-box">
                            <h1>
                                We are Health Service
                            </h1>
                            <h6>
                                The best care for all your patients needs.
                            </h6>
                            <img src="">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                                <br/>
                                <br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
                <a class="go-down" href="#location"></a>
            </div>
        </div>
        <div id="location" class="full-screen-background location">
            <div class="container">
                <div class="text-box">
                    <h1>
                        Location
                    </h1>
                    <p>
                        Located in the beautiful, historic Charlie Chatton building.
                        A brief walk from metro Papineau or Beaudry.
                    </p>
                    <google-map name="office-location"></google-map>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SocialBar from '~/components/SocialBar.vue'
    import GoogleMap from '~/components/GoogleMap.vue'

    export default {
        name: 'home',
        components: {GoogleMap, SocialBar}
    }
</script>
