<template>
    <div class="page centered full-screen-background">
        <div class="page-content authentication">
            <form action="#" @submit.prevent="attemptLogin">
                <div class="form-header">
                    <h1>Login</h1>
                </div>
                <div class="social-auth-bar">
                    <button class="social facebook">
                        <span class="button-text-centered">
                            Facebook
                        </span>
                    </button>
                    <button class="social google">
                        <span class="button-text-centered">
                            Google
                        </span>
                    </button>
                    <button class="social twitter">
                        <span class="button-text-centered">
                            Twitter
                        </span>
                    </button>
                </div>
                <div class="form-section" :class="loginError ? 'errored' : ''">
                    <p class="error-message">
                        {{ loginError }}
                    </p>
                    <input id="login-input-email"
                           name="login-input-email"
                           type="text"
                           placeholder="E-mail"
                           v-model="loginValues.email"
                           @input="validateLoginEmail"
                           required
                           autofocus>
                </div>
                <div class="form-section" :class="loginError ? 'errored' : ''">
                    <p class="error-message"></p>
                    <input id="login-input-password"
                           name="login-input-password"
                           type="password"
                           placeholder="Password"
                           v-model="loginValues.password"
                           required
                           @input="validateLoginPassword">
                </div>
                <div class="form-section">
                    <button class="authenticate"
                            type="submit"
                            :disabled="isSubmitting || loginError || !loginValues.email || !loginValues.password">
                        <span class="button-text-centered">
                            Login
                        </span>
                    </button>
                </div>
                <div class="form-section">
                    <nuxt-link to="/register" tag="a" :disabled="isSubmitting">
                        Not a member yet? Click here to register.
                    </nuxt-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import _ from 'lodash';

    export default {
        scrollToTop: true,
        name: "login",
        data() {
            return {
                confirmationToken: null,
                loginError: null,
                loginValues: {
                    email: null,
                    password: null
                }
            }
        },
        computed: {
            ...mapGetters({
                isSubmitting: 'isSubmitting'
            })
        },
        mounted() {
            this.confirmationToken = this.$route.query.confirmation_token;
        },
        methods: {
            ...mapActions({
                loginUser: 'loginUser',
                confirmUser: 'confirmUser',
                checkEmailAvailability: 'checkEmailAvailability',
                registerUser: 'registerUser'
            }),

            validateLoginEmail: _.debounce(function () {
                if (!this.loginValues.email || !this.isValidEmailAddress(this.loginValues.email)) {
                    this.loginError = 'A valid email address is required';
                    return;
                }
                this.loginError = null;
            }, 500),
            validateLoginPassword: _.debounce(function () {
                if (!this.loginValues.password) {
                    this.loginError = 'A password is required';
                    return;
                }
                this.loginError = null;
            }, 500),
            isValidEmailAddress(email) {
                const validEmailReg = new RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$");
                return email.match(validEmailReg);
            },
            attemptLogin() {
                if (!this.loginError && this.loginValues.email && this.loginValues.password) {
                    this.loginUser(this.loginValues)
                        .then(() => {
                            if (this.confirmationToken) {
                                this.confirmUser(this.confirmationToken);
                            }
                            this.$router.push('/products');
                        })
                        .catch(() => {
                            this.loginValues.password = null;
                        });
                }
            }
        }
    }
</script>
