<template>

</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        scrollToTop: true,
        name: "Logout",
        created() {
            this.logoutUser()
                .then(() => {
                    this.$router.push('/')
                })
                .catch(() =>{
                    this.$router.push('/register')
                });
        },
        methods: {
            ...mapActions({
                logoutUser: 'logoutUser'
            })
        }
    }
</script>
