<template>
    <div v-if="user" class="profile-container">
        <div class="profile-information">
            <nuxt />
        </div>
        <nav class="profile-nav">
            <ul class="navigation profile-nav-list">
                <nuxt-link to="/profile/" tag="li" class="profile-nav-links">
                    Information
                </nuxt-link>
                <nuxt-link to="/profile/favorites" tag="li" class="profile-nav-links">
                    Favorites
                </nuxt-link>
                <nuxt-link to="/profile/settings" tag="li" class="profile-nav-links">
                    Settings
                </nuxt-link>
                <nuxt-link to="/logout" tag="li" class="profile-nav-links">
                    Logout
                </nuxt-link>
            </ul>
        </nav>
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';

    export default {
        scrollToTop: true,
        name: "profile",
        data() {
            return {

            }
        },
        computed: {
            ...mapState({
                user: 'user'
            }),
            ...mapGetters({
                isLoggedIn: 'isLoggedIn',
                hasUser: 'hasUser'
            })
        }
    }
</script>
