<template>
    <div class="page centered full-screen-background">
        <div v-if="registering" class="page-content centered authentication">
            <form action="#" @submit.prevent="attemptRegister">
                <div class="form-header">
                    <h1>Registration</h1>
                </div>
                <div class="social-auth-bar">
                    <button class="social facebook">
                        <span class="button-text-centered">
                            Facebook
                        </span>
                    </button>
                    <button class="social google">
                        <span class="button-text-centered">
                            Google
                        </span>
                    </button>
                    <button class="social twitter">
                        <span class="button-text-centered">
                            Twitter
                        </span>
                    </button>
                </div>
                <div class="form-section">
                    <div class="details">
                        All fields are required
                    </div>
                </div>
                <div class="form-section" :class="registrationErrors.name ? 'errored' : ''">
                    <p class="error-message">
                        {{ registrationErrors.name }}
                    </p>
                    <input id="register-input-name"
                           name="name"
                           type="text"
                           placeholder="Name"
                           required
                           v-model="registrationValues.name"
                           @input="validateRegistrationName"
                           autofocus>
                </div>
                <div class="form-section" :class="registrationErrors.email ? 'errored' : ''">
                    <p class="error-message">
                        {{ registrationErrors.email }}
                    </p>
                    <input id="register-input-email"
                           name="email"
                           type="email"
                           placeholder="E-mail"
                           required
                           v-model="registrationValues.email"
                           @input="validateRegistrationEmail">
                </div>
                <div class="form-section" :class="registrationErrors.password ? 'errored' : ''">
                    <p class="error-message">
                        {{ registrationErrors.password }}
                    </p>
                    <input id="register-input-password"
                           name="password"
                           type="password"
                           placeholder="Password"
                           required
                           v-model="registrationValues.password"
                           @input="validateRegistrationPassword">
                </div>
                <div class="form-section" :class="registrationErrors.passwordConfirmation ? 'errored' : ''">
                    <p class="error-message">
                        {{ registrationErrors.passwordConfirmation }}
                    </p>
                    <input id="register-input-password-confirmation"
                           name="password-confirmation"
                           type="password"
                           placeholder="Password Confirmation"
                           required
                           v-model="registrationValues.passwordConfirmation"
                           @input="validateRegistrationPasswordConfirmation">
                </div>
                <div class="form-section">
                    <div class="details">
                        By registering you agree to our
                        <a href="javascript:void(0)" @click="toggleTerms">terms of service</a> and
                        <a href="javascript:void(0)" @click="togglePrivacy">privacy policy</a>.
                    </div>
                </div>
                <div class="form-section">
                    <button class="authenticate"
                            type="submit"
                            :disabled="isSubmitting || registrationFormHasErrors || !registrationFormHasAllValues">
                        <span class="button-text-centered">
                            Register
                        </span>
                    </button>
                </div>
                <div class="form-section">
                    <nuxt-link to="/login" tag="a" :disabled="isSubmitting">
                        Already a member? click here to login.
                    </nuxt-link>
                </div>
            </form>
        </div>
        <div v-else class="page centered full-screen-background authentication">
            <div class="page-content centered authentication">
                <div>
                    You have signed up successfully! Now you just need to confirm your email address to activate your account.
                    Follow the link provided in the email. Thank you for joining Health Services!
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import _ from 'lodash';

    export default {
        scrollToTop: true,
        name: "register",
        data() {
            return {
                registering: true,
                registrationErrors: {
                    name: null,
                    email: null,
                    password: null,
                    passwordConfirmation: null
                },
                registrationValues: {
                    name: null,
                    email: null,
                    password: null,
                    passwordConfirmation: null
                },
            }
        },
        computed: {
            ...mapGetters({
                isSubmitting: 'isSubmitting'
            }),
            registrationFormHasErrors() {
                return this.registrationErrors.name ||
                    this.registrationErrors.email ||
                    this.registrationErrors.password ||
                    this.registrationErrors.passwordConfirmation;
            },
            registrationFormHasAllValues() {
                return this.registrationValues.name &&
                    this.registrationValues.email &&
                    this.registrationValues.password &&
                    this.registrationValues.passwordConfirmation;
            }
        },
        methods: {
            ...mapMutations({
                toggleTerms: 'toggleTerms',
                togglePrivacy: 'togglePrivacy'
            }),
            ...mapActions({
                checkEmailAvailability: 'checkEmailAvailability',
                registerUser: 'registerUser'
            }),
            validateRegistrationName: _.debounce(function () {
                if (!this.registrationValues.name) {
                    this.registrationErrors.name = 'Required';
                    return;
                }
                if (this.registrationValues.name.length < 2) {
                    this.registrationErrors.name = 'This name is too short.';
                    return;
                }
                if (this.registrationValues.name.length > 255) {
                    this.registrationErrors.name = 'This name is too long.';
                    return;
                }
                this.registrationErrors.name = null;
            }, 500),
            validateRegistrationEmail: _.debounce(function () {
                if (!this.registrationValues.email) {
                    this.registrationErrors.email = 'Required';
                    return;
                }
                if (!this.isValidEmailAddress(this.registrationValues.email)) {
                    this.registrationErrors.email = 'You must enter a valid email.';
                    return;
                }

                this.checkEmailAvailability(this.registrationValues.email)
                    .then((response) => {
                        if (response === true) {
                            this.registrationErrors.email = 'This email address is already in use.';
                        } else {
                            this.registrationErrors.email = null;
                        }
                    })
                    .catch(() => {
                        this.registrationErrors.email = 'Oh no, something went wrong.';
                    });
            }, 500),
            validateRegistrationPassword: _.debounce(function () {
                if (!this.registrationValues.password) {
                    this.registrationErrors.password = 'Required';
                    return;
                }
                if (this.registrationValues.password.length < 6) {
                    this.registrationErrors.password = 'Your password must be at least 6 characters long.';
                    return;
                }
                this.registrationErrors.password = null;
            }, 500),
            validateRegistrationPasswordConfirmation: _.debounce(function () {
                if (!this.registrationValues.passwordConfirmation) {
                    this.registrationErrors.passwordConfirmation = 'Required';
                    return;
                }
                if ((this.registrationValues.password &&
                    this.registrationValues.passwordConfirmation)
                    && this.registrationValues.password !== this.registrationValues.passwordConfirmation
                ) {
                    this.registrationErrors.passwordConfirmation = 'Passwords do not match';
                    return;
                }
                this.registrationErrors.passwordConfirmation = null;
            }, 500),
            isValidEmailAddress(email) {
                const validEmailReg = new RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$");
                return email.match(validEmailReg);
            },
            attemptRegister() {
                if (!this.registrationFormHasErrors && this.registrationFormHasAllValues) {
                    this.registerUser(this.registrationValues)
                        .then(() => {
                            this.registering = false;
                        })
                        .catch(() => {
                            this.registering = true;
                        });
                }
            }
        }
    }
</script>
